/* Variables */

:root {
    --bg: #edf5e1;
    --color1: #8EE4AF;
    --color2: #5CDB95;
    --color3: #379683;
}

body {
    font-family: sans serif;
    background-color: var(--bg);
    color: var(--color3);
    padding: 30px;
}

input,
button {
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
}

button {
    background-color: var(--color3);
    color: var(--color2);
}

button:hover {
    cursor: pointer;
}

th {
    text-align: center
}

tr {
    height: 40px;
}

.table-header td {
    font-weight: bold
}

form {
    
}

form>* {
    margin-top: 10px;
}

form button {
    width: 120px;
}

input {
    width: 400px;
}

a {
    color: #009dff;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: initial;
}

h1 {
    margin: 0px;
}

table tr:nth-child(2n) {
    background-color: white;
}

td {
    padding: 14px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-left: 11px solid var(--color3);
    border-top: 5px solid var(--color3);
}

form {
    padding-bottom: 20px;
    border-bottom: 5px solid var(--color2);
    margin-bottom: 10px;
}