article {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding-bottom: 18px;
}

.TXT_C {
    text-align: justify;
}

#metadata #accession {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}

#metadata > *,
#seq_length,
#seq_mass,
#seq_title
{
    font-size: 21px;
}

#seq_str {
    
    font-family: monospace;
    font-size: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    overflow-wrap: break-word;
    margin-top: 5px;
}

#seq_title {
    margin-top: 10px;
    font-weight: bold;
}

#sequence {
    border-bottom: var(--color2) solid 5px;
    margin-bottom: 15px;
}